/* ========================================
   SEARCH BASE
======================================== */

.input-search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 80%;

    border: 2px solid var(--color-secondary);
    border-radius: 2px;
    box-shadow: 2px 2px 0px;
    overflow: hidden;

    background-color: var(--gray-1);

    min-height: 40px; 
}

/* INPUT */
.input-search input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;

    padding: var(--space-s) var(--space-xs);
    color: var(--color-secondary);
}
/* SECONDARY VERSION */
.input-search.secondary {
    max-width: 20%; 
}