/* Contenedor principal flex row */
.main-content {
  display: flex;
  
}

/* Sección productos: ocupa 70% */
.products-section {
  flex: 7 1 0%; /* 70% flexible */
  display: flex;
  flex-direction: column;
  padding: var(--space-l) var(--space-xl);
  background-color: var(--color-primary);
  gap: var(--space-s);
}

/* Sección sidebar/filtros: ocupa 30% */
.sidebar-filters {
  flex: 3 1 0%; /* 30% flexible */
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-primary);
}

/* Filtros secundarios (alerts) en fila */
.filters-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.filters-tags {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

/* Tarjetas de productos flex wrap */
.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.sidebar-title {
  color: var(--color-secondary);
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-divider {
  width: 50%;
  border: none;
  border-top: 2px solid var(--color-secondary);
  margin: 16px 0;
}

.pricing-container {
  background-color: aqua;
}

.title-Products {
  color: var(--color-secondary);
}